.profile {
  background-color: #12002b;
  position: absolute;
  width: 100%;
}

.profile_heading {
  margin: 2.2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.profile_heading span {
  color: #FFFFFF;
  font-size: clamp(2.8rem, 3.2vw, 3.2rem);
  font-weight: bold;
}

.profile_edit {
  background-color: #00bc77;
  border-color: #00bc77;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1.6rem auto;
  padding: 1rem;
  width: fit-content;
}

.profile_name {
  text-transform: capitalize;
}

.profile_accounts {
  margin-top: 3.2rem;
}