.hero {
  background-image: url('../../assets/images/bank-tree.jpeg');
  background-position: 0 -5rem;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  position: relative;
}

.hero-content {
  position: relative;
  top: 5rem;
  width: 26rem;
  background: white;
  padding: 3.3rem;
  text-align: left;
  margin: 0 auto;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: clamp(1.6rem, 2.4vw, 2.4rem);
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  margin-top: 1.4rem;
  font-size: clamp(1.2rem, 1.9vw, 1.9rem);
}

@media (min-width: 920px) {
  .hero {
    height: 40rem;
    background-position: 0% 33%;
  }

  .hero-content {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 36rem;
    margin: 3.2rem;
  }
}
